//! **************************************************************************
// Written by: Map P.20131013 on Mon May 08 13:45:56 2023
//! **************************************************************************

SCHEMATIC START;
COMP "iCLK" LOCATE = SITE "P129" LEVEL 1;
COMP "oLED" LOCATE = SITE "P46" LEVEL 1;
SCHEMATIC END;

